@page
@model PrivacyModel
@{
    ViewData["Title"] = "High Performance Game Servers";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>This site is sponsored by Captiol Hosting Solutions. Providing managed hosting for game servers since 2018, we are <b>the</b> number one choice for gamers in the US and Australia.</p>
    <p><a href="https://chs.gg">Visit Us Today.</a></p>
</div>